*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/*

# Android build outputs
*/build/
*/build/outputs/
*/build/intermediates/
*/build/tmp/
*/build/kotlin/
*.apk

# ProGuard
*.pro
*.bak

# Gradle daemon
gradle/gradle-daemon-jvm.properties
